* {
    padding: 0;
    margin: 0;
}


nav {
    display: flex;
    flex-flow: row;
    height: 2em;
    background-color: darkslategray;
    border-bottom: darkred 10px;
    justify-content: center;
    border-bottom: red 5px solid;
}

nav a {
    font-size: 25px;
    color: yellow;
    text-decoration: none;
    margin-left: 1em;
}
div{
    display: flex;
    width: 600px;
    height: 300px;
    overflow-y:auto;
    overflow-x:auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
    border: darkblue 5px solid;
}
table, th, td {
    border: 1px solid;
}

#cell1{
    background-color: red;
}
#cell2{
    background-color: yellow;
}
#cell3{
    background-color: darkred;
}
#cell4{
    background-color: darkslategray;
}
#cell5{
    background-color: indianred;
}
#cell6{
    background-color: chartreuse;
}
#cell7{
    background-color: darkblue;
}
#cell8{
    background-color: gray;
}
#cell9{
    background-color: aqua;
}
#cell10{
    background-color: blue;
}
#cell11{
    background-color: darkorange;
}
#cell12{
    background-color: lawngreen;
}
@media only screen and (max-width: 1000px) {
    nav {
        flex-flow: column;
        height: auto;
        align-items: center;
        border-bottom: red 10px solid;
    }

    nav a {
        font-size: 50px;
    }
    div{
        display: flex;
        width: auto;
        height: 700px;
        overflow-y:auto;
        overflow-x:auto;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
        border: darkblue 5px solid;
    }
    table, th, td {
        border: 1px solid;
    }
    #cell1{
        background-color: red;
    }
    #cell2{
        background-color: yellow;
    }
    #cell3{
        background-color: darkred;
    }
    #cell4{
        background-color: darkslategray;
    }
    #cell5{
        background-color: indianred;
    }
    #cell6{
        background-color: chartreuse;
    }
    #cell7{
        background-color: darkblue;
    }
    #cell8{
        background-color: gray;
    }
    #cell9{
        background-color: aqua;
    }
    #cell10{
        background-color: blue;
    }
    #cell11{
        background-color: darkorange;
    }
    #cell12{
        background-color: lawngreen;
    }
}