*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
    margin: 1%;
    text-decoration: underline;
}
.container {
    display: flex;
    overflow: auto;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .container {
        width: 400px;
        height: 550px;
        overflow: auto;
    }
}

